[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/ankitpaudel20/gokarna.git
[submodule "themes/papermodx"]
	path = themes/papermodx
	url = https://github.com/ankitpaudel20/hugo-PaperModX.git
